body{
  background-image: url("https://wallpapersite.com/images/pages/pic_w/6005.jpg");
}

h1{
  font-family: fantasy;
  font-style: italic;
}


.INNINGSONE {
      height: 300px;
      width: 300px;
      border-style: solid;
      border-color: red;
  margin-left: 0%;
  margin-top: -5%;
}

.INNINGSTWO{
  height: 300px;
  width: 300px;
  border-style: solid;
  border-color:red;
  margin-left: 60%;
  margin-top: 2%;
}
.scoreA{
  height: 50px;
width: 100px;
background-color:white;
margin-top: 9%;
margin-left: 33%;
}
.scoreB{
  height: 50px;
width: 100px;
background-color:white;
margin-top: 9%;
margin-left: 33%;
}
.display{
  align-items: center;
}
.scorecard{
  margin-top: -20%;
}
